
.bttn{
    position: relative; 
    right: 1px;
    left: 15vw;
}
a:hover{
    background-color: rgba(151, 183, 109, 0.7);
}
ul{
    display: flex;
    
    list-style-type: none;
}
section{
    background-color: rgba(0, 0, 0,0.5);
}
.banner {
    
    width: 100vw;
    text-align: center;
    background-color:wheat;
    background-repeat: no-repeat;
    background-size: cover;
    }

.btn {
    align-items: center;
    display: inline-block;
    padding: 8px 18px;
    background-color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
     }
.btn :hover{
    display: inline-block;
    padding: 8px 18px;
    background-color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
nav{
    display: flex;
    position: sticky;
    background-color: rgba(0, 0, 0,0.5);
    padding: 20px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: white;
    margin-left: 15px;
    padding: 5px 20px;
    border-radius: 19px;
    text-decoration: none;
    border: 0.5px solid white;
}
img{
    height:42vh;
    border-radius: 15px;
}

.one{
    margin: 0% ;
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(255, 255, 255, 0.5));
}

.two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    height: 330px;
    width: 50%;
    justify-content: center;
}

.three{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
.three :hover{
   margin: 2px;
   /* background-color:  rgba(151, 183, 109, 0.25); */
  border-radius: 15px;
}
.description :hover{
    color: red;
    border: 1px;
    border-radius: 10px;
    padding: 0px 15px 15px 15px;
    text-align: center;
}
.description h1{
    text-align: center;
    position: relative;
    margin-top: 10px;
}
.description p{
    text-align: center;
    margin-top: 10px;
}
.four{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.four :hover{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
}
*{
    margin: 0%;
}